.DS_Store
*.mwb
*.swp
*.bak
.htaccess
development/
uploads/
nbproject/

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/