
@font-face {
    font-family: Lato Light;
    font-style: normal;
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family:"Lato Black";
    src:url("../fonts/Lato-Black.eot?") format("eot"),url("../fonts/Lato-Black.woff") format("woff"),url("../fonts/Lato-Black.ttf") format("truetype"),url("../fonts/Lato-Black.svg#Lato-Black") format("svg");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Lato Bold";
    src:url("../fonts/Lato-Bold.eot?") format("eot"),url("../fonts/Lato-Bold.woff") format("woff"),url("../fonts/Lato-Bold.ttf") format("truetype"),url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Lato Hairline";
    src:url("../fonts/Lato-Hairline.eot?") format("eot"),url("../fonts/Lato-Hairline.woff") format("woff"),url("../fonts/Lato-Hairline.ttf") format("truetype"),url("../fonts/Lato-Hairline.svg#Lato-Hairline") format("svg");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Roboto Thin Italic";
    src:url("../fonts/Roboto-ThinItalic.eot?") format("eot")
        url("../fonts/Roboto-ThinItalic.woff") format("woff")
        url("../fonts/../fonts/Roboto-ThinItalic.ttf") format("truetype")
        url("../fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic") format("svg");font-weight:normal;font-style:normal;
}
@font-face {
    font-family:"Lato Regular";
    src:url("../fonts/Lato-Regular.eot?") format("eot")
        url("../fonts/Lato-Regular.woff") format("woff")
        url("../fonts/Lato-Regular.ttf") format("truetype")
        url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");font-weight:normal;font-style:normal;
}
@font-face {
    font-family:"Oswald Light";
    src:url("../fonts/Oswald-Light.eot?") format("eot")
        url("../fonts/Oswald-Light.woff") format("woff")
        url("../fonts/Oswald-Light.ttf") format("truetype")
        url("../fonts/Oswald-Light.svg#Oswald-Light") format("svg");font-weight:normal;font-style:normal;
}
@font-face {
    font-family:"Oswald Bold";
    src:url("../fonts/Oswald-Bold.eot?") format("eot")
        url("../fonts/Oswald-Bold.woff") format("woff")
        url("../fonts/Oswald-Bold.ttf") format("truetype")
        url("../fonts/Oswald-Bold.svg#Oswald-Bold") format("svg");font-weight:normal;font-style:normal;
}
@font-face {
    font-family: 'impactreg';
    src: url('../fonts/impactreg.eot');
    src: local('impactreg'), url('../fonts/impactreg.woff') format('woff'), url('../fonts/impactreg.ttf') format('truetype');
}
@font-face {
    font-family:"Lato Italic";
    src:url("../fonts/Lato-Italic.eot?") format("eot")
        url("../fonts/Lato-Italic.woff") format("woff")
        url("../fonts/Lato-Italic.ttf") format("truetype")
        url("../fonts/Lato-Italic.svg#Lato-Italic") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family:"Roboto Thin";
    src:url("../fonts/Roboto-Thin.eot?") format("eot")
        url("../fonts/Roboto-Thin.woff") format("woff")
        url("../fonts/Roboto-Thin.ttf") format("truetype")
        url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
    font-weight:normal;font-style:normal;
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7349">Text with this font applied</p> */
.fontsforweb_fontid_7349 {
    font-family: 'impactreg' !important;
}

/* Font downloaded from FontsForWeb.com */
@font-face {
    font-family:"Roboto Light";
    src:url("../fonts/Roboto-Light.eot?") format("eot")
        url("../fonts/Roboto-Light.woff") format("woff")
        url("../fonts/Roboto-Light.ttf") format("truetype")
        url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
    font-weight:normal;font-style:normal;
}

html, body {
    background-color: #f8f3f0;
    color: #000;
    font-family: 'Oswald', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
}
@import url(http://fonts.googleapis.com/css?family=Oswald);
a:hover {
    text-decoration: none;
}




/*OWNER*/
#page {
    background-color: #FFFFFF;
    box-shadow: 0 0 12px rgba(171,139,110,.38);
    -webkit-box-shadow: 0 0 12px rgba(171,139,110,.38);
    -moz-box-shadow: 0 0 12px rgba(171,139,110,.38);
}
.grut {
    padding-top: 10px;
    padding-bottom: 20px;
}



/*------------Navbar-------------*/
.logo {
    padding-left: 5px;
    padding-right: 5px;
}
.buton {
    background-color: #0FBE7C;
    border-radius: 0px;
    border: 1px solid #000;
}
.buton a:hover {
    background-color: #0FBE7C;
    border-radius: 0px;
    border: 1px solid #000;
}
.forms {
    border-radius: 0px;
    border: 1px solid #000;
}
.navsu {
    background-color: transparent;
    border: 0px;
    color: #000;
    margin-top: 25px;
}
.togles {
    background-color: #000;
    float: left;
    left: 45%;
}
.ows {
    padding-bottom: 10px;
}




/*------------Header-------------*/




/*------------Content-------------*/

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 5em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s; 
    -ms-transition: 2s all ease-in-out .1s; 
    -o-transition: 2s all ease-in-out .1s; 
    transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s; 
    -ms-transition: 2s all ease-in-out .1s; 
    -o-transition: 2s all ease-in-out .1s; 
    transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(../image/back.png); 
}

.up-teks {
    padding-top: 10px;
}
.conts {
    padding: 50px 0px;
}
.post {
    margin-bottom: 10px;
    border-bottom: #d0e2ea 2px dashed;
    min-height: 200px;
}
.baten {
    margin-top: 40px;
}
.btn-rs {
    background: #5ba4e5;
    color: white;
    padding: 5px 10px;
    border-radius: 0px;
}
.pags li>a{
    padding: 10px 30px;
    border: 3px solid #d0e2ea;
}
.pager li>a:hover,
.pager li>a:focus {
    text-decoration: none;
    background-color: #d0e2ea;
    color: #428bca;
}




/*CAPTION*/
#t-cards {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;    
}

/********************************/
/*          Panel cards         */
/********************************/
.panel.panel-card {
    position: relative;
    height: 238px;
    border: none;
    overflow: hidden;
    border: 1px solid #d0e2ea;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;

    -webkit-transition: height 600ms ease-in-out;
    transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;

    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.panel.panel-card .panel-heading button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff;

    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);

    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
    transition: padding 400ms ease-in-out;
} 

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
} 


.panel.panel-card:hover .panel-heading {
    height: 55px;

    -webkit-transition: height 400ms ease-in-out;
    transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;

    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;

    -webkit-transition: padding 400ms ease-in-out;
    transition: padding 400ms ease-in-out;
}

/* LIST */
.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 20px;
    border-left: 1px solid #d0e2ea;
    border-right: 1px solid #d0e2ea;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 0px;
    margin: 0px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #5ba4e5;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: #1abc9c;
    color: #000;
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
    color: #000;
}
.event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
    color: #000;
}
.event-list > li > time > .days {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .months {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}

.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}
.twitter a {
    color: rgb(79, 213, 248) !important;
}
.google-plus a {
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: white;
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {			
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}


/* JOIN */
.join {
    border: 1px solid #d0e2ea;
    padding: 5px 20px 20px;
    margin-bottom: 20px;
}


/* FOOTER */
.foots {
    margin-top: 50px;
    padding: 20px;
    border-top: 2px solid #d0e2ea;
}
.foots-menu {
    padding-top: 13px;
}
.foots-menu span>a {
    padding: 0px 5px;
}
.foots-icon span>a {
    padding: 0px 5px;
    font-size: 28px;
}


















