<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio Flat</title>
  <link rel="shortcut icon" href="media/image/icloud_drive-512.png">
  <link rel="stylesheet" href="media/css/bootstrap.min.css" />
  <link rel="stylesheet" href="media/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="media/css/materialdesignicons.min.css.map" />
  <link rel="stylesheet" href="media/css/ionicons.min.css" />
  <link rel="stylesheet" href="media/css/sidebar.css"/>

  <script src="media/js/jquery-1.11.1.js"></script>
  <script src="media/js/bootstrap.min.js"></script>
  <script src="media/js/sidebar.js"></script>
  <script src="media/js/notify.min.js"></script>
  <script src="media/js/jquery-ui.js"></script>
  <script src="media/js/imgLiquid-min.js"></script>
</head>
<body>


  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
        <div class="grey">
          <div class="user-logged-in">
            <div class="content">
              <div class="user-name"> <span class="text-muted f9">PORTFOLIO FLAT</span></div><p></p>
              <div class="user-email">Web Designer</div>
              <div class="user-actions">
                <a href=""><i id="social-fb" class="ion-social-facebook"></i></a>
                <a href=""><i id="social-tw" class="ion-social-twitter"></i></a>
                <a href=""><i id="social-gp" class="ion-social-googleplus"></i></a>
                <a href=""><i id="social-em" class="ion-social-instagram-outline"></i></a>
              </div>
            </div>
          </div>
          <hr>

          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <ul class="nav bs-sidenav">

                  <li>
                    <a href="#glyphicons">Glyphicons</a>
                    <ul class="nav">
                      <li><a href="#glyphicons-glyphs">Available glyphs</a></li>
                      <li><a href="http://localhost/general/Template_portfolio/portfolio_flat/detail.html">Detail</a></li>
                      <li><a href="#glyphicons-examples">Examples</a></li>
                    </ul>
                  </li>
                
                </ul>
                
              </div>
            </div>
          </div>  
          <div class="margin-bottom-20"></div>
        </div>
      </div>

      <div class="main col-md-9 col-md-offset-3">
 

  <br>

  <div class="row-fluid">
    <div class="col-md-8">
      <h2>ABOUT ME</h2>
      <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
      <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
      <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
      <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
   </div>
   <div class="col-md-4">
    <div class="tdiv t5">
     I am now available to take your next project. Donec id elit non mi porta gravida at eget metus. <br><br>
     <p>
       Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Use my contact form for a free quote!
     </p>
   </div>
 </div>
</div>





<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.5293127609407!2d106.81945031439248!3d-6.325378595422363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69edd92fee6661%3A0x825effd3dc4d20d!2sJl.+Kecapi+I%2C+Jagakarsa%2C+Kota+Jakarta+Selatan%2C+Daerah+Khusus+Ibukota+Jakarta+12620!5e0!3m2!1sid!2sid!4v1447310523290" width="930" height="450" class="img-responsive" frameborder="0" style="border:0" allowfullscreen></iframe>


</div>


<div class="col-xs-5 col-sm-3 col-md-2 sidebar sidebar-right sidebar-animate">
  <div class="grey">
    <ul class="nav navbar-stacked">
      <li class="active"><a href="">Profil</a></li>
      <li><a href="#about">Pengaturan</a></li>
      <li><a href="">Keluar</a></li>
    </ul>
  </div>
</div>

</div>
</div>


</body>
</html>
